[server]
socket=/opt/cenbia/data/mariadb/mysqld.sock

[client]
socket=/opt/cenbia/data/mariadb/mysqld.sock
port=3306

[mysqld]
user=nobody
socket=/opt/cenbia/data/mariadb/mysqld.sock
datadir=/opt/cenbia/data/mariadb
port=3306
symbolic-links=0
plugin_dir=/opt/cenbia/stack/lib/mysql/plugin
skip-networking

[mysqld_safe]
user=nobody
log-error=/opt/cenbia/data/log/mysqld.log
pid-file=/opt/cenbia/data/run/mysqld/mysqld.pid

[mysql]
no-auto-rehash

#
# include all files from the config directory
#
#!includedir /opt/cenbia/stack/etc/my.cnf.d

