# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# tarball
*.zip
*.tar.*
*.gz
*.bz2
*.lzma
*.tgz
*.tbz2
